<div class="container">
    <h2>Login</h2>
    <form [formGroup]=loginForm>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <div *ngIf="submitted && f.email.errors" >
             <span class="error" *ngIf="f.email.errors.required">
                 Email is Required
             </span>
             <span class="error" *ngIf="f.email.errors.pattern">
                Email is not valid
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
          <div *ngIf="submitted && f.password.errors" >
            <span class="error" *ngIf="f.password.errors.required">
                Password is Required
            </span>
            <span class="error" *ngIf="f.password.errors.minlength">
                Password is Short
            </span>
         </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="rememberMe">
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary" (click)=login()>Submit</button>
      </form>
</div>