<div class="container mt-5 fixed" infiniteScroll
[infiniteScrollThrottle]="50" [infiniteScrollDistance]="5" [scrollWindow]="false"
(scrolled)="listOnScroll()">
    <h2>Building Details</h2>         
    <table class="table"  >
      <thead>
        <tr>
          <th>Name</th>
          <th>Building Name</th>
          <th>Tower Name</th>
          <th>Property Name</th>
          <th>Configuration Name</th>
          <th>Minimum Price</th>
          <th>Bedroom</th>
          <th>Bathroom</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of allData">
          <td>{{data?.name}}</td>
          <td>{{data?.building?.name}}</td>
          <td>{{data?.building_towers?.tower_name}}</td>
          <td>{{data.property_type?.name}}</td>
          <td>{{data.configuration?.name}}</td>
          <td>{{data.min_price}}</td>
          <td>{{data.bedroom}}</td>
          <td>{{data.bathroom}}</td>
        </tr>
      </tbody>
    </table>
  </div>
